<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ApiTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ApiTester.Properties.Settings>
            <setting name="splitContainer6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="splitContainer5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="splitContainer4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="splitContainer3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="splitContainer2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="splitContainer1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </ApiTester.Properties.Settings>
    </userSettings>
</configuration>